.outline:has(textarea:focus)::before {
  content: "";
  position: absolute;
  padding: 2px;
  inset: -2px;
  border-radius: 6px;
  background-color: rgba(var(--ring) / 1);
  z-index: 9999;
  pointer-events: none;

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#dad6d6 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  -mask-composite: xor;
}
